.auth-container {
  height: 90vh;
  width: 50vw;
  margin: 5vh auto;
  background-color: var(--sec-bg-clr);
  border-radius: 20px;
  padding: 0;

  .auth-header {
    height: 30vh;
    border-radius: 20px 20px 0 0;
    background-image: url("../../../assets/images/auth-slider/sign-in.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &.sign-up {
      background-image: url("../../../assets/images/auth-slider/sign-up.png");
    }
  }

  .auth-body {
    padding: 1.5rem;
    background-color: var(--theme-grey);
    height: 60vh;
    padding: 1rem;
    padding-top: 7vh;

    .message {
      margin-top: 0.75rem;

      a {
        color: var(--theme-blue);
      }
    }

    button {
      &.google {
        display: flex;
        align-items: center;
        background-color: var(--ter-bg-clr);
        border-color: var(--ter-bg-clr);
        box-shadow: var(--shadow);
        color: var(--txt-clr);

        img {
          height: 25px;
          margin-left: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .auth-container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    border-radius: 0;

    .auth-header {
      border-radius: 0;
      background-size: 150%;
    }

    .auth-body {
      padding: 1rem;
      height: 70vh;
      padding-top: 7vh;

      .message {
        font-size: 0.85rem;
        margin-top: 0.75rem;
      }
    }
  }
}
