@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --main-font: "Lexend Deca", sans-serif;
  --theme-blue: #1f82bd;
  --theme-dark-grey: #8f8f8f;
  --bg-danger: #ffe9e9;
  --clr-danger: #f33066;
  --bg-success: #cff7e4;
  --clr-success: #10d876;
  --bg-warning: #ffead6;
  --clr-warning: #fe9431;
  --bg-primary: #d2e3ff;
  --clr-primary: #1e74fd;
}

body[theme=light] {
  --bg-clr: #ebf5fc;
  --sec-bg-clr: #fff;
  --ter-bg-clr: #f0f0f0;
  --txt-clr: #222831;
  --inverse-txt-clr: #ebf5fc;
  --inverse-grey-txt: #c1c7c9;
  --shadow: 0px 8px 15px #0000001a;
}

body[theme=dark] {
  --bg-clr: #111318;
  --sec-bg-clr: #1d2129;
  --ter-bg-clr: #11161d;
  --txt-clr: #ebf5fc;
  --inverse-txt-clr: #222831;
  --inverse-grey-txt: #707c80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-clr);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--sec-bg-clr);
  border-radius: 5px;
}

.success {
  background-color: var(--bg-success);
  color: var(--clr-success);
}

.danger {
  background-color: var(--bg-danger);
  color: var(--clr-danger);
}

.primary {
  background-color: var(--bg-primary);
  color: var(--clr-primary);
}

.warning {
  background-color: var(--bg-warning);
  color: var(--clr-warning);
}

button {
  border: none;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s all ease;
}

a {
  text-decoration: none;
  transition: 0.3s all ease;
}

.text-muted {
  color: var(--theme-dark-grey);
}

.font-xss {
  font-size: 0.85rem;
}

.font-xs {
  font-size: 0.9rem;
}

.font-sm {
  font-size: 0.95rem;
}

.font-rg {
  font-size: 1rem;
}

.btn-theme {
  background-color: var(--theme-blue);
  color: #fff;
  font-size: 0.85rem;
  border-radius: 5px;
  padding: 8px 15px;
}
.btn-theme:hover {
  background-color: #075f91;
}

.input-group {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  transition: 0.3s all ease;
}
.input-group input,
.input-group textarea {
  background-color: inherit;
  color: var(--txt-clr);
  font-size: 1rem;
  padding: 10px 10px;
  border: none;
  border: 2px solid var(--theme-dark-grey);
  border-radius: 5px;
  width: 100%;
  outline: none;
  transition: 0.3s all ease;
}
.input-group input::-moz-placeholder, .input-group textarea::-moz-placeholder {
  opacity: 0;
}
.input-group input:-ms-input-placeholder, .input-group textarea:-ms-input-placeholder {
  opacity: 0;
}
.input-group input::placeholder,
.input-group textarea::placeholder {
  opacity: 0;
}
.input-group input:not(:-moz-placeholder-shown), .input-group textarea:not(:-moz-placeholder-shown) {
  border-color: var(--theme-dark-grey);
}
.input-group input:not(:-ms-input-placeholder), .input-group textarea:not(:-ms-input-placeholder) {
  border-color: var(--theme-dark-grey);
}
.input-group input:focus, .input-group input:not(:placeholder-shown),
.input-group textarea:focus,
.input-group textarea:not(:placeholder-shown) {
  border-color: var(--theme-dark-grey);
}
.input-group input:not(:-moz-placeholder-shown) ~ label, .input-group textarea:not(:-moz-placeholder-shown) ~ label {
  transform: translate(10px, -33px) scale(0.9);
  background-color: var(--sec-bg-clr);
  color: var(--theme-dark-grey);
  padding: 0 5px;
  font-weight: 500;
}
.input-group input:not(:-ms-input-placeholder) ~ label, .input-group textarea:not(:-ms-input-placeholder) ~ label {
  transform: translate(10px, -33px) scale(0.9);
  background-color: var(--sec-bg-clr);
  color: var(--theme-dark-grey);
  padding: 0 5px;
  font-weight: 500;
}
.input-group input:focus ~ label, .input-group input:not(:placeholder-shown) ~ label,
.input-group textarea:focus ~ label,
.input-group textarea:not(:placeholder-shown) ~ label {
  transform: translate(10px, -33px) scale(0.9);
  background-color: var(--sec-bg-clr);
  color: var(--theme-dark-grey);
  padding: 0 5px;
  font-weight: 500;
}
.input-group select {
  border-bottom: 2px solid #000;
  padding: 10px 10px;
  width: 100%;
  border: 2px solid var(--theme-dark-grey);
  border-radius: 5px;
  color: var(--theme-dark-grey);
  font-size: 1rem;
  background: inherit;
  outline: none;
  cursor: pointer;
}
.input-group textarea ~ label {
  display: none !important;
}
.input-group textarea::-moz-placeholder {
  opacity: 1;
}
.input-group textarea:-ms-input-placeholder {
  opacity: 1;
}
.input-group textarea::placeholder {
  opacity: 1;
}
.input-group label {
  position: absolute;
  padding: 0 20px;
  margin-bottom: 2px;
  color: var(--theme-dark-grey);
  background-color: var(--theme-grey);
  transform: translate(4px, -11px) scale(1.02);
  transform-origin: left top;
  cursor: pointer;
  transition: 0.3s all ease;
}
.input-group button {
  padding: 10px 30px;
  background-color: var(--theme-blue);
  border: 2px solid var(--theme-blue);
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.9rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  color: #fff;
  transition: 0.3s all ease;
}
.input-group button.outline {
  background: transparent;
  border-color: var(--theme-blue);
}

.cursor-pointer {
  cursor: pointer;
}

body {
  color: var(--txt-clr);
  background-color: var(--bg-clr);
}

.row {
  display: grid;
  grid-gap: 1.5rem;
}
.row:not(:first-child) {
  margin-top: 1.5rem;
}
.row.grid2 {
  grid-template-columns: repeat(2, 1fr);
}
.row.grid3 {
  grid-template-columns: repeat(3, 1fr);
}

main {
  margin-left: 320px;
  padding: 1.5rem;
}
main .page-title {
  font-size: 1.6rem;
  font-weight: 500;
}
main .page-content {
  margin-top: 1.5rem;
}
main .page-content .card {
  background-color: var(--sec-bg-clr);
  border-radius: 10px;
  padding: 1rem 1rem;
}
main .page-content .card .card-title {
  font-size: 1.2rem;
  font-weight: 500;
}
main .page-content .card .card-subtitle {
  font-size: 1rem;
  font-weight: 500;
}
main .page-content .card .card-body {
  margin: 1rem 0 1.5rem;
}

@media only screen and (max-width: 1100px) {
  .row.grid3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 900px) {
  .row.grid2 {
    grid-template-columns: repeat(1, 1fr);
  }
  main {
    margin-left: 250px;
  }
}
@media only screen and (max-width: 650px) {
  .input-group input,
.input-group textarea {
    font-size: 0.9rem;
    padding: 10px 10px;
  }
  .input-group select {
    padding: 10px 10px;
    font-size: 0.9rem;
  }
  .input-group label {
    padding: 0 20px 0 15px;
  }
  .row {
    grid-gap: 1rem;
  }
  .row.grid3 {
    grid-template-columns: repeat(1, 1fr);
  }
  main {
    margin-left: calc(1.5rem + 30px);
    padding: 1rem;
  }
  main .page-title {
    font-size: 1.3rem;
  }
  main .page-content {
    margin-top: 1rem;
  }
  main .page-content .card .card-title {
    font-size: 1rem;
  }
  main .page-content .card .card-subtitle {
    font-size: 0.9rem;
  }
  main .page-content .card .card-body {
    margin: 1rem 0 1rem;
  }
}/*# sourceMappingURL=common.css.map */