nav.sidebar {
  position: fixed;
  height: 100%;
  width: 320px;
  top: 0;
  left: 0;
  background-color: var(--sec-bg-clr);
  overflow: hidden;
  transition: 0.3s all ease;

  .logo {
    padding: 1rem;
  }

  .links {
    margin-right: 1rem;

    .single-link {
      display: grid;
      grid-template-columns: 30px auto;
      grid-gap: 1rem;
      padding: 1.3rem 1rem;
      border-radius: 0 20px 20px 0;
      color: var(--txt-clr);
      border-left: 4px solid var(--sec-bg-clr);
      transition: 0.3s all ease;

      &.active {
        color: var(--theme-blue);
        background-color: var(--ter-bg-clr);
        border-color: var(--theme-blue);
      }

      &:hover {
        background-color: var(--ter-bg-clr);
        border-color: var(--ter-bg-clr);
      }

      &:not(:first-child) {
        margin-top: 0.5rem;
      }

      span {
        white-space: nowrap;
        transition: 0.3s all ease;
      }

      &.sidebar-toggle {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  nav.sidebar {
    width: 250px;

    .logo {
      padding: 1rem;
    }

    .links {
      margin-right: 0.5rem;

      .single-link {
        grid-gap: 0.5rem;
        padding: 1rem 1rem;
        font-size: 0.9rem;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  nav.sidebar {
    width: calc(1.5rem + 30px);

    .links {
      margin-right: 0;

      .single-link {
        border-radius: 0;

        span {
          display: none;
        }

        &.sidebar-toggle {
          display: block;
        }
      }
    }

    &.show {
      width: 250px;

      .links {
        .single-link {
          span {
            display: inline;
          }
        }
      }
    }
  }
}
